absl-py==1.1.0
cachetools==5.2.0
certifi==2021.5.30
charset-normalizer==2.1.0
cycler==0.11.0
filelock==3.7.1
fonttools==4.33.3
google-auth==2.9.0
google-auth-oauthlib==0.4.6
grpcio==1.47.0
huggingface-hub==0.8.1
idna==3.3
imageio==2.19.3
importlib-metadata==4.12.0
joblib==1.2.0
kiwisolver==1.4.3
Markdown==3.3.7
matplotlib==3.5.2


